body{
    height: fit-content;
}
nav{
    margin-top: -10px;
    position: relative;
    left: 45%;
    display:flex;
    width: 50%;
}
nav p{
    color: rgb(68, 68, 68);
    font-weight: 500;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav img{
    height: 56px;
    width: 60px;
    display: block;
    margin-top: 6px;
}
h1 {
    color: rgb(69, 69, 69);
    font-family: "Fresca", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    margin: -2px;
    position: relative;
    width: 50%;
    left: 42%;
}
.container{
    padding: 10px;
    display: block;
    margin: auto;
    height: 470px;
    max-width: 1000px;
    background: linear-gradient(135deg, #1a1a1a, #000033, #000000);
    border-radius: 25px;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    margin-bottom: -10px;
}

/* For Webkit browsers (Chrome, Safari) */
.container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}
.message{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px 12px 6px 12px;
    margin: 5px 20px;
    border-radius: 10px;
    width:fit-content;
    max-width: 600px;
    word-wrap: break-word;
    white-space: pre-wrap;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
p.message-content {
    margin: 0px;
}
.right{
    
    position: relative;
    border-top-right-radius:0 ;
    float: right;
    clear: both;
}
.left{
    margin: 0px;
    position: relative;
    left: 20px;
    border-top-left-radius: 0;
    float: left;
    clear: both;
}
.message.left {
    background: linear-gradient(135deg, #9ab7e5 0%, #f5f7fa 100%);
}
.message.right{
    background: linear-gradient(135deg, #f5f7fa 0%, #9ab7e5 100%);
}
.send-container{
    text-align: center;
    margin: 10px;
}
.message.center{
    background-color: rgb(40, 40, 40);
    color: white;
}

.center{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the text horizontally */
    right: 33%;
    float: right;
    clear: both;
    color: white;
    font-size: 12px;
    min-width: 120px;
    text-align: center;
}
.profilepic{
    position: relative;
    right: 18px;
    bottom: -20px;
    height: 30px;
    width: 32px;
    border-radius: 50px;
    float: left;
}
.left .message-name{
    font-weight: 600;
    color: #47208f;
}
.right .message-name{
    font-weight: 600;
    color: rgb(0, 90, 0);
}
.center .message-name{
    color:rgb(255, 255, 255);
}
#message-input{
    color: aliceblue;
    background: linear-gradient(135deg, #1a1a1a, #000033, #000000);
    width: 45%;
    font-size: 15px;
    padding: 14px;
    border-radius: 55px;
    border: 1px solid rgb(124, 124, 124);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.311);
}

#message-input:focus {
    outline: none;
  }
  ::placeholder {
    color: rgb(215, 215, 215); /* Change to your desired color */
    opacity: 1; /* For Firefox to set the opacity of the placeholder */
}
#send-btn{
    position: relative;
    top: 1px;
    background-color: rgb(0, 109, 110);
    color: aliceblue;
    border: none;
    padding: 12px 19px;
    border-radius: 55px;
    font-size: 20px;
    transition: 0.5s;
    border-bottom-left-radius: 0;
    border-top-left-radius:0 ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
#send-btn:hover{
    background-color: rgb(22, 22, 22);
}

.message-image {
    max-width: 100%;
    max-height: 250px;
    border-radius: 10px;
    margin: 10px 0;
}
.choose-file {
    display: inline-block;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.message-video {
    max-width: 100%; 
    max-height: 250px; 
    display: block; 
    margin-top: 10px; 
    border-radius: 10px;
}
.media-share{
    background-color: #bdc1c380;
    width: 160px;
    margin: auto;
    padding: 8px 26px 4px 26px;
    font-size: 25px;
    border-radius: 50px;
    color: rgb(20, 6, 39);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.516);
}
#media-image{
    position: relative;
    top: -2px;
    margin: 7px;
    height: 31px;
    width: 31px;
    transition: 0.3s;
}
#media-video{
    position: relative;
    top: -2px;
    margin: 5px;
    height: 35px;
    width: 35px;
    transition: 0.3s;
}
.icon-label{
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background-color: #82828200; /* Change this to your desired background color */
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;
}
.icon-label:hover {
    background-color: #828282; 
}

.icon-label svg {
    display: block;
}

/* Style for the icon */
.choose-file i {
    margin-right: 10px; /* Optional: Adjust spacing between icon and button */
}
@media only screen and (max-width: 600px) {
    h1{
        color: rgb(69, 69, 69);
        margin: -2px;
        position: relative;
        width: 85%;
        left: 17%;
    }
    #message-input{
        width: 65%;
    }
    nav {
        left: 35%;
    }
    .message{
        max-width: 240px;
    }
    #send-btn{
        font-size: 18px;
        padding: 13px;
    }
    .center{
        display: flex;
        align-items: center;
        justify-content: center; /* Center the text horizontally */
        text-align: center;
        position: relative;
        right: 15%;
        float: right;
        clear: both;
        color: white;
        font-size: 12px;
        min-width: 120px;
        text-align: center;
    }
    .icon-label{
        padding: 0px;
    }
    .icon-label:hover{
        padding: 0px;
    }
    .media-share{
        background-color: #bdc1c380;
        width: 160px;
    }
    #media-image{
        margin: 7px;
        height: 27px;
        width: 27px;
    }
    
    #media-video{
        margin: 7px;
        height: 31px;
        width: 31px;
    }
    .container{
        height: 510px;
    }
}

